<%- include('../partials/startToStyle') %>

    <link rel="stylesheet" href="/stylesheets/books/reviews.css">

</head>

<body>
    <%- include('../partials/flash') %>
    <nav>
        <h1 class="logoH1"><a class="logo" href="/">BookWorm</a></h1>
        <div class="links">
            <% if (!currentUser) { %>
            <a class="signUpLogIn" href="/register">Register</a>
            <a href="/login">Sign In</a>
            <% } else { %>
            <a href="/logout">Sign Out</a>
            <% } %>
        </div>
    </nav>

    <div class="breadcrumb">
        <a class="back" href="/clubs">&#171; BookShelves</a>
        <a class="back" href="/clubs/<%=club._id%>">&#171; <%=club.clubName.slice(0, 8) + '...'%></a>
        <a class="back" href="/clubs/<%=club._id%>/books/<%=book._id%>">&#171; <%=book.title.slice(0, 8) + '...'%></a>
    </div>

<main>

    <section class="coverAndDetails">
        <div class="coverContainer">
            <img class="cover" src="<%=book.imageUrlL%>" alt="">
        </div>
        <div class="titleAndRating">
            <h2><%=book.title%></h2>
            <% if (average !== 'NaN') { %>
                <h4><span class="ratingWord">Rating: </span><%=average%>&#9734;</h4>
            <% } %>
        </div>
    </section>

    <section class="reviewSection">
        <% if (!currentUser) { %>
            <h3><a href="/login">Sign in</a> to add a review</h3>
        <% } else { %>
        <h3>Add A Review</h3>
        <form class="reviewForm" action="/clubs/<%=club._id%>/books/<%=book._id%>/reviews" method="POST">
            <div class="rating">
                <label for="rating"></label>
                <input type="range" id="rating" name="rating" min="1" max="5" step="1">
            </div>
            <label for="comments"></label>
            <textarea name="comments" id="comments" cols="20" rows="3" placeholder="Leave a comment!"></textarea>
            <button class="submitButton">Submit</button>
        </form>
        <h3>Reviews</h3>
        <% } %>
        <% for (let i = book.reviews.length -1; i >= 0; i--) { %>
        <div class="review">
            <div class="reviewTopLine">
                <p><%=book.reviews[i].author.username%></p>
                <% if (currentUser && book.reviews[i].author.equals(currentUser._id)) { %>
                    <form action="/clubs/<%=club._id%>/books/<%=book._id%>/reviews/<%=book.reviews[i]._id%>?_method=DELETE" method="POST">
                        <button class="deleteButton">Delete</button>
                    </form>
                <% } %>
                <div class="rating">
                    <% for (let j = 0; j < book.reviews[i].rating; j++) { %>
                    <span class="star">&#9733;</span>
                    <% } %>
                </div>
            </div>
            <p><strong><%=book.reviews[i].comments%></strong></p>
        </div>
        <% } %>

    </section>

    </main>

    <script src="/javascripts/flash.js"></script>
</body>
</html>