<%- include('../partials/startToStyle') %>

    <link rel="stylesheet" href="/stylesheets/books/clubBookShow.css">

<%- include('../partials/styleToNav') %>
        <h2><%=book.title%></h2>
        <h3>by <%=book.author%></h3>
        <section class="coverAndDetails">
            
            <div class="coverContainer">
                <img class="cover" src="<%=book.imageUrlL%>" alt="">
            </div>

            <div class="details">
        
                <% if (average !== 'NaN') { %>
                    <h4><span class="ratingWord">Rating: </span><%=average%>&#9734;</h4>
                    <a href="/books/<%=book._id%>/reviews">Reviews</a>
                <% } else { %>
                    <h3>Not yet rated...</h3>
                <a href="/books/<%=book._id%>/reviews">Leave a review</a>
                <% } %>
                <a class="editButton" href="/clubs/<%=club._id%>/books/<%=book._id%>/edit">Edit</a>
            </div>

        </section>
        
    </main>
    <a class="back" href="/clubs/<%=club._id%>">&#171; <%=club.clubName%></a>

    <footer>
        <div class="bookshelf">
            <% for(let book of club.clubBooks) { %>
                <a class="bookContainer" href="/clubs/<%=club._id%>/books/<%=book._id%>"><img class="book" src="<%=book.imageUrlM%>" alt=""></a>
            <% } %>
        </div>
    </footer>
    <script src="/javascripts/flash.js"></script>
</body>
</html>