<%- include('../partials/startToStyle') %>

    <link rel="stylesheet" href="/stylesheets/show.css">

<%- include('../partials/styleToNav') %>
    <section class="coverAndDetails">
        <div class="coverContainer">
            <img class="cover" src="<%=book.imageUrlL%>" alt="">
        </div>

        <div class="details">
            <h2><%=book.title%></h2>
            <h3>by <%=book.author%></h3>
            <% if (book.dateFinished) { %>
                <h4>Finished on: <%=book.dateFinished%></h4>
            <% } %>
            <h3>Rating: </h3>
            <% for (let review of book.reviews) { %>
                <h3><%=review.rating%></h3>
            <% } %>
            <a href="/books/<%=book._id%>/reviews">Reviews</a>
            <a class="editButton" href="/books/<%=book._id%>/edit">Edit</a>
        </div>
    </section>
    
<%- include('../partials/bookshelfToEnd') %>