<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookShelf</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;1,400;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/bookshelf.css">
    <link rel="stylesheet" href="/stylesheets/show.css">
</head>
<body>
    <%- include('../navbar') %>

    <main>
        <div class="left">
            <div class="coverContainer">
                <img class="cover" src="<%=book.imageUrlL%>" alt="">
            </div>
        </div>
        <div class="details">
            <h2><%=book.title%></h1>
            <h3>by <%=book.author%></h3>
            <h3>Page Count: <%=book.pageCount%></h3>
            <% if (book.firstSentence.length) { %>
                <p>"<%=book.firstSentence[0]%>.."</p>
            <% } %>
            <% if (book.dateFinished) { %>
                <h4>Finished on: <%=book.dateFinished%></h4>
            <% } %>
            <a href="/books/<%=book._id%>/edit">Edit</a>
        </div>
    </main>
    
    <%- include('../bookshelf') %>
</body>
</html>