<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book Club | <%=book.title%></title>
</head>

<body>
        <a href="/books">Home</a>
        <h1><%=book.title%></h1>
        <h2><%=book.author%></h2>
        <aside>
                <img src="<%=book.imageUrlL%>" alt="">
        </aside>
        <main>
        <h3>Page Count: <%=book.pageCount%></h3>
        <% if (book.firstSentence) { %>
        <p>"<%=book.firstSentence[0]%>.."</p>
        <% } %>
        <h5>Started on: <%=book.dateStarted%></h5>
        <h5>Finished on: <%=book.dateFinished%></h5>

        <a href="/books/<%=book._id%>/edit">Edit</a>
        </main>
</body>

</html>