<%- include('../partials/startToStyle') %>

    <link rel="stylesheet" href="/stylesheets/books/clubBookShow.css">
</head>

<body>
    <%- include('../partials/flash') %>
    <nav>
        <h1 class="logoH1"><a class="logo" href="/">BookWorm</a></h1>
        <div class="links">
            <% if (!currentUser) { %>
            <a class="signUpLogIn" href="/register">Register</a>
            <a href="/login">Sign In</a>
            <% } else { %>
            <a href="/logout">Sign Out</a>
            <% } %>
        </div>
    </nav>

<div class="breadcrumb">
    <a class="back" href="/clubs">&#171; BookShelves</a><a class="back" href="/clubs/<%=club._id%>">&#171; <%=club.clubName%></a>
</div>

<main>
    <div class="titleBox">
        <h2><%=book.title%></h2>
        <h3>by <%=book.author%></h3>
    </div>
        <section class="coverAndDetails">
            
            <div class="coverContainer">
                <img class="cover" src="<%=book.imageUrlM%>" alt="">
            </div>

            <div class="details">
        
                <% if (average !== 'NaN') { %>
                    <h4><span class="ratingWord">Rating: </span><%=average%>&#9734;</h4>
                    <p>Reviews: <strong><%=book.reviews.length%></strong></p>
                    <a href="/clubs/<%=club._id%>/books/<%=book._id%>/reviews">Reviews &#187;</a>
                <% } else { %>
                    <p>Not yet rated...</p>
                <a href="/clubs/<%=club._id%>/books/<%=book._id%>/reviews">Leave a review</a>
                <% } %>
                <% if (currentUser && club.author.equals(currentUser._id)) { %>
                <a class="editButton" href="/clubs/<%=club._id%>/books/<%=book._id%>/edit">Edit</a>
                <% } %>
            </div>

        </section>
        
    </main>

    <footer>
        <div class="bookshelf">
            <% for(let book of club.clubBooks) { %>
                <a class="bookContainer" href="/clubs/<%=club._id%>/books/<%=book._id%>"><img class="book" src="<%=book.imageUrlM%>" alt=""></a>
            <% } %>
        </div>
    </footer>
    <script src="/javascripts/flash.js"></script>
</body>
</html>