<%- include('../partials/startToStyle') %>

    <link rel="stylesheet" href="/stylesheets/clubs/clubEdit.css">

<%- include('../partials/styleToNav') %>

        <div class="left">
            <h1>Edit Your Club</h1>
            <p>Club ID: <%=club._id%></p>
        </div>

        <div class="details">
            <form action="/clubs/<%=club._id%>?_method=PUT" method="POST">
                <label for="clubName">Club Name: </label>
                <input type="text" name="clubName" id="clubName"
                value="<%=club.clubName%>" required autofocus>
                <div class="buttons">
                    <button class="saveButton">Save</button>
                    <a href="/clubs">Cancel</a>
                </div>
            </form>
            <form action="/clubs/<%=club._id%>?_method=DELETE" method="POST">
                <button class="deleteButton">Delete Club</button>
            </form>    
        </div>
        
    </main>
    <script src="/javascripts/flash.js"></script>
</body>
</html>