<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookShelf</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;1,400;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/clubs/clubShow.css">
</head>

<body>
    <%- include('../partials/flash') %>
    <nav>
        <h1 class="logoH1"><a class="logo" href="/">BookWorm</a></h1>
        <div class="links">
            <% if (!currentUser) { %>
            <a class="signUpLogIn" href="/register">Register</a>
            <a href="/login">Sign In</a>
            <% } else { %>
            <a href="/logout">Sign Out</a>
            <% } %>
        </div>
    </nav>
    
    <div class="breadcrumb">
        <a class="back" href="/clubs">&#171; BookShelves</a>
    </div>

    <main>
        <div class="infoBox">
            <h1><a href="/clubs/<%=club._id%>"><%=club.clubName%></a></h1>
            <p>Created by: <%=club.author.username%></p>
            <% if (currentUser && club.author.equals(currentUser._id)) { %>
                <a class="button" href="/clubs/<%=club._id%>/edit">Edit Club</a>
            <% } %>
                <a class="button" href="/clubs/<%=club._id%>/books/new">Add a Book</a>
            <% if (currentUser) { %>
                <form action="/clubs/<%=club._id%>/join?_method=PUT" method="POST">
                    <button>Join!</button>
                </form>
            <% } %>
        </div>
    </main>

    <footer>
        <div class="bookshelf">
            <% for(let book of club.clubBooks) { %>
                <a class="bookContainer" href="/clubs/<%=club._id%>/books/<%=book._id%>"><img class="book" src="<%=book.imageUrlM%>" alt=""></a>
            <% } %>
        </div>
    </footer>

    <script>
        const body = document.querySelector('body');
        body.style.backgroundImage = `url(<%=club.clubImgUrl%>)`;
    </script>
    
    <script src="/javascripts/flash.js"></script>
</body>
</html>