<%- include('../partials/startToStyle') %>

    <link rel="stylesheet" href="/stylesheets/clubs/clubShow.css">

<%- include('../partials/styleToNav') %>
<h1><a href="/clubs/<%=club._id%>"><%=club.clubName%></a></h1>
<section class="showContent">
        <aside class="clubInfo">
            <h2>Books: <%=club.clubBooks.length%></h2>
            <h2>Members: <%=club.clubMembers.length%></h2>
            <p>
            <% for (let member of club.clubMembers) { %>
                <%=member.username%>
            <% } %>
            </p>
            <a href="/clubs/<%=club._id%>/edit">Edit Club</a>
            <a href="/clubs/<%=club._id%>/books/new">Add a Book</a>
            <% if (currentUser) { %>
            <form action="/clubs/<%=club._id%>/join?_method=PUT" method="POST">
                <button>Join!</button>
            </form>
            <% } %>
        </aside>
        <aside class="clubImage"></aside>
    </section>

    </main>

    <footer>
        <div class="bookshelf">
            <% for(let book of club.clubBooks) { %>
                <a class="bookContainer" href="/clubs/<%=club._id%>/books/<%=book._id%>"><img class="book" src="<%=book.imageUrlM%>" alt=""></a>
            <% } %>
        </div>
    </footer>
    
    <script src="/javascripts/flash.js"></script>
</body>
</html>