<%- include('../partials/startToStyle') %>

    <link rel="stylesheet" href="/stylesheets/clubs/clubShow.css">
</head>

<body>
    <%- include('../partials/flash') %>
    <nav>
        <h1 class="logoH1"><a class="logo" href="/">BookWorm</a></h1>
        <div class="links">
            <% if (!currentUser) { %>
            <a class="signUpLogIn" href="/register">Register</a>
            <a href="/login">Sign In</a>
            <% } else { %>
            <a href="/logout">Sign Out</a>
            <% } %>
        </div>
    </nav>
    
<div class="breadcrumb">
    <a class="back" href="/clubs">&#171; BookShelves</a>
</div>

<main>

<h1><a href="/clubs/<%=club._id%>"><%=club.clubName%></a></h1>
<p>Created by: <%=club.author.username%></p>
<section class="showContent">
        <aside class="clubInfo">
            <h2>Books: <%=club.clubBooks.length%></h2>
            <h2>Members: <%=club.clubMembers.length%></h2>
            <p>
            <% for (let member of club.clubMembers) { %>
                <%=member.username%>
            <% } %>
            </p>
            <% if (currentUser && club.author.equals(currentUser._id)) { %>
            <a href="/clubs/<%=club._id%>/edit">Edit Club</a>
            <% } %>
            <a href="/clubs/<%=club._id%>/books/new">Add a Book</a>
            <% if (currentUser) { %>
            <form action="/clubs/<%=club._id%>/join?_method=PUT" method="POST">
                <button>Join!</button>
            </form>
            <% } %>
        </aside>
        <aside class="clubImage">
            <% if (club.clubImgUrl) { %>
            <img src="<%=club.clubImgUrl%>" alt="">
            <% } %>
        </aside>
    </section>

    </main>

    <footer>
        <div class="bookshelf">
            <% for(let book of club.clubBooks) { %>
                <a class="bookContainer" href="/clubs/<%=club._id%>/books/<%=book._id%>"><img class="book" src="<%=book.imageUrlM%>" alt=""></a>
            <% } %>
        </div>
    </footer>
    
    <script src="/javascripts/flash.js"></script>
</body>
</html>